[2020-08-31 11:13] amihaiemil opened #1 "Spring Boot Skeleton"
Let's implement a skeleton first.

[2020-08-31 11:13] amihaiemil opened #2 "Rultor, Travis, 0pdd"
Let's add them.

[2020-09-01 08:06] amihaiemil commented on #1
fixed

[2020-09-01 08:06] #1 closed

[2020-09-01 08:48] amihaiemil commented on #2
fixed

[2020-09-01 08:48] #2 closed

[2020-09-01 08:49] amihaiemil opened #3 "jcabi-ssh poc"
Let's make a proof of concept using jcabi/jcabi-ssh

[2020-09-01 11:35] #3 closed

[2020-09-01 12:01] 0pdd opened #5 "SshPuzzles.java:41-42: Transform the puzzles XML string..."
The puzzle `3-fec5f6c3` from #3 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/eda8071931cd115c96f415bb035750f0c472d510/src/main/java/com/selfxdsd/todos/SshPuzzles.java#L41-L42

The puzzle was created by @amihaiemil on 01-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-09-01 12:01] 0pdd commented on #5
@amihaiemil please pay attention to this new issue.

[2020-09-01 12:01] 0pdd opened #6 "SshPuzzles.java:43-44: Customize the script being run..."
The puzzle `3-1df84203` from #3 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/eda8071931cd115c96f415bb035750f0c472d510/src/main/java/com/selfxdsd/todos/SshPuzzles.java#L43-L44

The puzzle was created by @amihaiemil on 01-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2020-09-01 12:01] 0pdd commented on #6
@amihaiemil please pay attention to this new issue.

[2020-09-01 16:13] amihaiemil commented on #5
@criske Arunca un ochi peste proiectu asta cand ai timp/chef :D

Va fi un microserviciu mic, cu un endpoint, care se va conecta prin SSH la un server (initial localhost, cel mai probabil), unde va clona Project-ul, va rula utilitara [pdd](https://github.com/yegor256/pdd) si va deschide/inchide ticketele in functie de todo-uri.

In principiu e un inlocuitor pt ``0pdd``, ca sa nu-i punem pe useri sa

[2020-09-01 17:28] criske commented on #5
@amihaiemil E foarte misto conceptul :D.
O mica nelamurire am. Nu e cam overkill jaxb pentru treaba asta? Eu zic ca xml dom e arhisuficent pentru cat de simpla e schema `puzzles.xml`.

Pot sa ma ocup de puzzle-ul asta, daca-i ok :)
Ma gandesc ca o sa fie cam acelasi pattern folosit in alte parti.
Un iterable `Puzzles` pentru `Puzzle` care va avea `Puzzles::ofProject(Project)`.
Probabil ca actualul

[2020-09-01 18:07] amihaiemil commented on #5
@criske si DOM api e ok, daca se poate. Am mucrat ft putin cu XML, nu stiu cum e cel mai simplu :D

Poate fi Puzzles Iterable de Puzzle, dar nube nevoie de ofProject pt ca va fi un singur Project per Request, toate puzzle-urile citite vor fi ale lui.

[2020-09-01 18:09] amihaiemil commented on #5
@criske stii sa-ti faci o cheie SSH de test, sa te poti conecta la localhost?  Daca nu, scriu maine un fisier aici, cum trebuie facut.

[2020-09-01 18:41] criske commented on #5
@amihaiemil cu `ssh-keygen` nu? dar poti sa lasi un ghid :)

[2020-09-01 19:08] amihaiemil commented on #5
@criske da, ceva pe-acolo, cu ssh keygen :D

[2020-09-02 06:48] amihaiemil commented on #5
@criske cam asa se face cu cheile alea https://github.com/self-xdsd/self-todos/blob/master/ssh_localhost_howto.md :)

[2020-09-02 07:35] criske commented on #5
@amihaiemil mersi

[2020-09-04 07:59] criske commented on #5
@amihaiemil tie iti merge clonatul `self-xdsd/self-web` prin ssh?
Imi da:
[code]
Am incercat si prin putty (sunt pe win) si la fel.

Daca-l clonez pe server manual imi merge fara probleme.

[2020-09-04 09:22] criske commented on #5
@amihaiemil Ok, dupa ceva stackoverflowing am rezolvat pe partea mea, trebuia adaugat key-ul la agent, chiar daca pe server este adaugat:
[code]

[2020-09-04 10:42] amihaiemil commented on #5
@criske da da, trebuie curatat.
Nu stiu de ce da permission denied, sincer, mie imi merge bine. Poate pt ca sunt admin pe organizatie?

Oricum, comanda aia de clone va fi putin diferita, va trebui sa-i specificam token-u de acces al PM-ului, cel mai probabil :D

[2020-09-04 14:09] criske commented on #5
Nu cred, imi dadea denied si pentru `ssh -T git@github.com`, cred ca tine de os. O sa incerc rulez aplicatia spring prin docker sa nu mai fie probleme de compatibilitate.

Cred ca o sa fie nevoie si de username.
Atunci ma gandesc ca ssh serverul nu o sa mai aiba nevoie de pub key inregistrat pe github.

[2020-09-04 14:13] amihaiemil commented on #5
@criske

Ba da, cred ca tot va trebui. Dar asta nu-i asa important oricum :D

[2020-09-04 14:45] criske commented on #5
@amihaiemil
Am incercat cu `git clone https://criske:<token>@github.com/self-xdsd/self-web.git` si a mers fara ca serverul sa aiba drepturi pe github.

[2020-09-04 14:58] amihaiemil commented on #5
@criske da, prin HTTPS e alta treaba. E ok ca merge asa, mersi de info 👍

[2020-09-07 11:23] #5 closed

[2020-09-07 11:23] 0pdd commented on #5
The puzzle `3-fec5f6c3` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-07 11:23] 0pdd opened #8 "SshPuzzles.java:39-40: Write unit test for SshPuzzles and..."
The puzzle `7-31ff0f72` from #7 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/c3d452525f8cb4b29079bd148b0d6ea942393d46/src/main/java/com/selfxdsd/todos/SshPuzzles.java#L39-L40

The puzzle was created by cristianpela on 02-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-09-07 11:23] 0pdd commented on #8
@amihaiemil please pay attention to this new issue.

[2020-09-07 13:59] #6 closed

[2020-09-07 13:59] 0pdd commented on #6
The puzzle `3-1df84203` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-09-07 13:59] 0pdd opened #10 "DocumentPuzzles.java:45-48: Add better validation of the..."
The puzzle `6-c0142e95` from #6 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/d7b687e1f2f72c1c13d2a06f06f940554aa71116/src/main/java/com/selfxdsd/todos/DocumentPuzzles.java#L45-L48

The puzzle was created by @amihaiemil on 07-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when

[2020-09-07 13:59] 0pdd commented on #10
@amihaiemil please pay attention to this new issue.

[2020-09-07 16:04] criske commented on #10
@amihaiemil I'll work on this.
I think validating against this schema http://pdd-xsd.teamed.io/0.19.4.xsd should be enough.

[2020-09-07 16:08] amihaiemil commented on #10
@criske I think a simple ``if(input startsWith "<?xml version="1.0"?>")`` would be enough.

If the ``puzzles.xml`` file starts with that line, then we know it's a valid XML and we can safely assume it's the ``<puzzles>`` XML we are expecting.

If the input String does not start with that line, then add it as a message to the exception.
Later, if a processing exception is thrown, we should leave a

[2020-09-07 16:13] criske commented on #10
@amihaiemil is really easy to implement, there is already a validator for xml in jdk :D. So max 5-6 lines of code and `xsd` in resources and we're good to go.

[2020-10-11 15:34] amihaiemil commented on #10
paid with transaction id 83F50033H5527703U

[2020-10-11 15:37] 0pdd commented on #10
The puzzle `6-c0142e95` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-11 15:37] #10 closed

[2020-10-11 15:38] 0pdd opened #12 "SshPuzzles.java:44-49: Handle SshPuzzles errors output..."
The puzzle `12-0273df37` from #12 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/a793297e246dd67201d5ba224b8b7623ffce9201/src/main/java/com/selfxdsd/todos/SshPuzzles.java#L44-L49

The puzzle was created by cristianpela on 07-Sep-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-10-11 15:38] 0pdd commented on #12
@amihaiemil please pay attention to this new issue.

[2020-10-13 16:35] amihaiemil opened #14 "Puzzle.issueTitle() method"
We should build the Puzzle's Issue title

[2020-10-13 16:53] #14 closed

[2020-10-13 16:54] amihaiemil opened #16 "Puzzle.issueBody() method"
This should read a resource String template and add the Puzzle's stuff to it, via String.format(...)

[2020-10-14 17:55] #16 closed

[2020-10-14 17:56] amihaiemil opened #18 "XML Validation Fails"
The XML validation of the produced puzzles.xml fails even though the XML seems to be correct. Stacktrage:

[code]

[2020-10-14 17:57] amihaiemil commented on #18
@criske Can you please take a look at this when you have some time? :D

[2020-10-14 18:12] 0pdd opened #19 "PuzzlesApi.java:40-42: Once we have Issues.search(...)..."
The puzzle `16-30e6be47` from #16 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/fc715511a34f88f9c0ac72b9b873e20f21cfb751/src/main/java/com/selfxdsd/todos/PuzzlesApi.java#L40-L42

The puzzle was created by @amihaiemil on 14-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-10-14 18:12] 0pdd commented on #19
@amihaiemil please pay attention to this new issue.

[2020-10-14 18:12] 0pdd opened #20 "PuzzlesApi.java:43-45: Make the endpoint call..."
The puzzle `16-0f334e68` from #16 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/fc715511a34f88f9c0ac72b9b873e20f21cfb751/src/main/java/com/selfxdsd/todos/PuzzlesApi.java#L43-L45

The puzzle was created by @amihaiemil on 14-Oct-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-10-14 18:12] 0pdd commented on #20
@amihaiemil please pay attention to this new issue.

[2020-10-14 19:08] criske commented on #18
@amihaiemil sure

[2020-10-15 16:19] #20 closed

[2020-10-15 16:19] 0pdd commented on #20
The puzzle `16-0f334e68` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-10-15 16:19] #18 closed

[2020-11-03 10:37] #19 closed

[2020-11-03 10:37] 0pdd opened #24 "PuzzlesApi.java:38-41: Accept the push event as..."
The puzzle `19-89cdb6ff` from #19 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/c573eba494fdc87fa7d2753ba93123c98f3e0a9f/src/main/java/com/selfxdsd/todos/PuzzlesApi.java#L38-L41

The puzzle was created by amihaiemil on 03-Nov-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-11-03 10:37] 0pdd commented on #24
@amihaiemil please pay attention to this new issue.

[2020-11-03 14:47] #24 closed

[2020-11-03 14:48] 0pdd opened #26 "PuzzlesComponent.java:45-49: Pass on the Event to the..."
The puzzle `24-442caa1c` from #24 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/e58776634b60ed6fa54e990d7e118ff89dd5a9a7/src/main/java/com/selfxdsd/todos/PuzzlesComponent.java#L45-L49

The puzzle was created by @amihaiemil on 03-Nov-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" wh

[2020-11-03 14:48] 0pdd commented on #26
@amihaiemil please pay attention to this new issue.

[2020-11-06 10:50] #26 closed

[2020-11-06 10:50] 0pdd commented on #26
The puzzle `24-442caa1c` has disappeared from the source code, that's why I closed this issue. //cc @amihaiemil

[2020-11-10 11:15] amihaiemil opened #28 "Make SelfCoreComponent Request Scoped or Session Scoped"
At the moment this component is a singleton and holds on to the DB connection forever. However, MySQL will close idea connections which have not been used in a period of time and therefore we get the exception:

[code]

Let's make it request or session scoped.

[2020-11-10 17:40] #28 closed

[2020-11-17 07:57] amihaiemil opened #30 "Use The SHA of Repo's Last Commit"
When reporting a new Puzzle, we are currently using the SHA of the push Commit in order to reference the puzzle lines. However, this is not always correct, because the discovered puzzles may have been added on a different branch or with an earlier commit, not in the actual push commit. Check the behaviour here: https://github.com/self-xdsd/self-web/commit/d04274791aa658a4bbfc29711bab1dce04c44aa5#c

[2020-11-18 08:20] #30 closed

[2020-11-29 20:32] amihaiemil opened #32 "Add Estimation Label"
Each reported puzzle should have a label with its estimation.

[2020-11-29 20:46] #32 closed

[2020-11-30 07:56] amihaiemil opened #34 "Update self-core to 0.0.39 and self-storage to 0.0.17"
Let's update and deploy it in Test.

[2020-11-30 08:11] #34 closed

[2020-12-10 10:58] amihaiemil opened #35 "Add the link to TODO Anatomy"
In case of a parsing error, we should point the user here: https://docs.self-xdsd.com/microtasking.html#anatomy-of-a-todo

[2020-12-26 14:01] charlesmike opened #36 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2020-12-26 14:06] amihaiemil opened #37 "Make It Work With todo-finder-cli"
We need a Puzzles implementation which should be able to parse the todos.json file generater by todo-finder-cli.

[2020-12-26 14:06] charlesmike commented on #37
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-05T16:06:19.182966``.

Estimation here is ``180 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become futur

[2020-12-26 14:06] charlesmike commented on #37
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2020-12-26 15:29] #36 closed

[2020-12-27 15:09] amihaiemil commented on #37
paid with transaction id 28K97950MT207314F

[2020-12-27 16:45] #37 closed

[2020-12-27 16:46] charlesmike opened #39 "SshPuzzles.java: Write unit test for SshPuzzle..."
The puzzle ``7-31ff0f72`` originating from #7 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/09c70978a11fac263f458ebe74320b2fe62ed2e7/src/main/java/com/selfxdsd/todos/SshPuzzles.java#L46-L47

"Write unit test for SshPuzzles and unit DocumentPuzzles for cases when there are invalid documents.".

It was created by cristianpela on 2020-09-02T14:27:15Z. Estimation is ``30 minutes``.

[2020-12-27 16:46] charlesmike opened #40 "SshPuzzles.java: Handle SshPuzzles errors outp..."
The puzzle ``12-0273df37`` originating from #12 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/09c70978a11fac263f458ebe74320b2fe62ed2e7/src/main/java/com/selfxdsd/todos/SshPuzzles.java#L48-L53

"Handle SshPuzzles errors output with PuzzlesProcessingException. Right now there is one single String output. Instead of a String we should have 2 streams one for puzzles and one for err

[2020-12-27 16:47] charlesmike commented on #37
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2020-12-27 16:48] charlesmike commented on #39
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-06T18:48:07.405353``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-27 16:48] charlesmike commented on #40
@fellahi-ali this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-06T18:48:13.635313``.

Estimation here is ``30 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become f

[2020-12-27 17:33] #8 closed

[2020-12-27 17:33] #12 closed

[2020-12-27 18:51] #35 closed

[2020-12-30 13:20] amihaiemil commented on #39
@fellahi-ali forget about DocumentPuzzles, it has been renamed to XmlPuzzles and is not being used at the moment.

[2020-12-30 13:21] amihaiemil commented on #40
@fellahi-ali I don't think there is anything to do here. We already catch any exceptions and we post a comment on the Commit if there are any problems.

[2020-12-31 22:59] charlesmike commented on #39
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-06T18:48:07). You are past the first half of the allowed period.

[2020-12-31 22:59] charlesmike commented on #40
@fellahi-ali Don't forget to close this ticket before the deadline (2021-01-06T18:48:13). You are past the first half of the allowed period.

[2021-01-04 13:37] fellahi-ali commented on #40
@amihaiemil I think what @criske meant by this issue is that the error outputs of the ssh.exec() is not handled/reported correctly as it's directed to the same `baos` as the standard output, and this method only rethrow `IOException`s but doesn't handle the case where the `ssh.exec()` returns with non-zero error code.
https://github.com/self-xdsd/self-todos/blob/cf1f7ece42fa0027094ca4952dc13e4a703

[2021-01-04 13:40] amihaiemil commented on #40
@fellahi-ali Yes, now that you mention it, I think that too. But on the other hand, we will catch that problem when trying to parse the result, right?

So we are not handling the non-zero return code or other errors directly, but we will catch the problem anyway at parsing.  I think this is enough?

@criske do you think we need anything else? :D

[2021-01-04 14:21] fellahi-ali commented on #40
Sure, but my concern is that the `SshPuzzles.exec()` is used twice in the `process()` method and if one of them fail because the non-zero exit code of the ssh command (without throwing the `IOException`) our code will not fail until `this.next.process(puzzles);` will fail in `JsonPuzzles` or any other implementation far away from the original error which could be difficult to debug! or I'm missing

[2021-01-04 14:30] amihaiemil commented on #40
@fellahi-ali you are right, that might be a problem... not a big problem, but a problem nevertheless.

So if you wish have a look on the API from jcabi-ssh, how we could do this separate stream thing.
I think you already spent 30min here, so it's ok if you continue for another hour and a half, I'll pay 2h for this ticket :D

[2021-01-04 16:07] fellahi-ali commented on #40
Thanks @amihaiemil for your kindness :)
Ironically, I have already spent more than 3 hours trying to understand self-todos code & jcabi-ssh API, but honestly I didn't bother myself with how much I will be paid because I'm really learning new things and this is my first task in this project so 2h is more than fair.

Fortunately, I think I have already figured that out while trying to understand how

[2021-01-04 16:09] criske commented on #40
@fellahi-ali yeah, the idea this issue was treat to `Shell`'s `stdout` and `stderr`  separately. Basically catch `stderr` at the get go in `SshPuzzles` and leave the next `Puzzles` to process the `stdout` as a string, as we're doing right now.
From there, in the future if memory will be problem or the whole process is too slow, we might convert  `stdout`  to an `Inputsteam` using piping, but I dou

[2021-01-04 16:21] amihaiemil commented on #40
@criske

I remember I wanted to do this and it wasn't possible for some reason (but I don't remember why haha).
Let's try to do it later, in a new ticket :D

[2021-01-04 16:38] fellahi-ali commented on #40
@amihaiemil @criske I can't understand how the todo-finder-cli is run? as the  current `cloneRepoAndPdd.sh` still run `pdd` command.

[2021-01-04 16:48] amihaiemil commented on #40
@fellahi-ali sorry for the confusion.

On the Test and Prod servers, ``pdd`` is the alias for ``java -jar /path/to/todo-finder-cli``.

So running ``pdd`` will execute that java command.

[2021-01-05 08:42] amihaiemil commented on #40
paid with transaction id 41Y44427J6727910W

[2021-01-05 08:44] amihaiemil commented on #39
paid with transaction id 91X86750M57886423

[2021-01-05 08:45] #40 closed

[2021-01-05 08:45] charlesmike commented on #40
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-05 08:50] #39 closed

[2021-01-05 08:50] charlesmike commented on #39
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-01-05 10:58] charlesmike commented on #39
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-05 10:59] charlesmike commented on #40
@fellahi-ali thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-07 09:01] amihaiemil opened #45 "Github TODO Link Broken"
The ending lines should be ``#La-Lb``, not ``#a-b``. Otherwise, the Github Comment will not render nicely.

[2021-01-07 09:01] charlesmike commented on #45
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-17T11:01:52.924110``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-07 09:01] charlesmike commented on #45
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-08 07:41] #45 closed

[2021-01-08 13:06] charlesmike commented on #45
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-17 16:35] amihaiemil opened #46 "Commit Author Can Be Missing"
We might not always be able to fetch the commit author (Commit.author() may return null or empty-string). Let's update the logic in commenting and prevent ``@null comment`` or ``@ comment`` from happening.

[2021-01-17 16:35] charlesmike commented on #46
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-01-27T18:35:26.061930``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-17 16:35] charlesmike commented on #46
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-01-18 15:46] #46 closed

[2021-01-18 19:06] charlesmike commented on #46
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-23 14:27] amihaiemil opened #49 "Adapt PuzzlesApi for Gitlab Too"
At the moment, it sends for review an Event which will only work for Github.

Let's pull that out in a GithubPushEvent and also implement GitLabPushEvent.

[2021-01-23 14:27] charlesmike commented on #49
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-23 14:36] charlesmike commented on #49
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-02T16:36:13.206437``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-24 13:21] #49 closed

[2021-01-24 13:28] amihaiemil opened #51 "Write Author And Timestamp In Issue Body"
If we have these 2 values (!=null), let's write them in the issue body.

[2021-01-24 13:29] charlesmike commented on #51
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-01-24 13:36] charlesmike commented on #51
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-03T15:36:13.514059``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-01-24 19:06] charlesmike commented on #49
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-01-25 08:49] #51 closed

[2021-01-25 10:46] charlesmike commented on #51
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-08 09:20] amihaiemil opened #53 "GitLab: Reference Puzzle Start Line"
In the puzzle issueBody for GitLab, we should reference the start line of the puzzle, as explained [here](https://docs.gitlab.com/ee/user/markdown.html#special-gitlab-references) (GitLab doesn't support preview of code snippets yet)

[2021-02-08 09:20] charlesmike commented on #53
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-02-18T11:20:33.507096``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-02-08 09:20] charlesmike commented on #53
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-02-08 09:48] #53 closed

[2021-02-08 14:53] charlesmike commented on #53
@amihaiemil thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-02-26 08:52] amihaiemil opened #55 "Release 0.0.1"
Let's release the first version.

[2021-02-26 08:52] amihaiemil commented on #55
@rultor release it, tag is `0.0.1`

[2021-02-26 08:53] rultor commented on #55
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24184-786504208)

[2021-02-26 08:57] rultor commented on #55
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24184-786504208) (spent 3min)

[code]

[2021-02-26 09:03] amihaiemil commented on #55
@rultor release it, tag is `0.0.1`

[2021-02-26 09:04] rultor commented on #55
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24184-786510283)

[2021-02-26 09:08] rultor commented on #55
@amihaiemil Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24184-786510283) (spent 3min)

[code]

[2021-02-26 09:26] amihaiemil commented on #55
@rultor release it, tag is `0.0.1`

[2021-02-26 09:27] rultor commented on #55
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24184-786523270)

[2021-02-26 09:31] rultor commented on #55
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24184-786523270) (took me 3min)

[2021-02-26 09:31] #55 closed

[2021-03-19 12:47] amihaiemil opened #56 "Don't Tag Author In Ticket Description"
At the moment the puzzle's author is tagged with ``@`` in the description. Let's change this, in order to avoid spamming and also because the git author's username might differ from the actual Github or GitLab account, in which occasion we may tag other users accidentally.

[2021-03-19 12:47] charlesmike commented on #56
@amihaiemil this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-03-29T14:47:46.710598``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become fu

[2021-03-19 12:47] charlesmike commented on #56
@amihaiemil please keep in mind that manual assignment of tickets is a bad practice and it is discouraged. Next time, please let me elect the assignee.

[2021-03-19 12:48] amihaiemil opened #57 "Release 0.0.2"
Changelog;

#56

[2021-03-24 03:46] charlesmike commented on #56
@amihaiemil Don't forget to close this ticket before the deadline (2021-03-29T14:47:46). You are past the first half of the allowed period.

[2021-03-28 16:04] amihaiemil commented on #56
@charlesmike remove

[2021-03-28 16:04] charlesmike commented on #56
@amihaiemil ok, I've removed this task from scope. I'm not managing it anymore.

[2021-03-28 16:13] #56 closed

[2021-03-28 16:14] amihaiemil commented on #57
@rultor release it, tag is `0.0.2`

[2021-03-28 16:15] rultor commented on #57
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24325-808918509)

[2021-03-28 16:18] rultor commented on #57
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24325-808918509) (took me 3min)

[2021-03-28 16:36] #57 closed

[2021-03-30 17:21] zoeself opened #59 "Hello from Self XDSD!"
@amihaiemil Thank you for the invitation, your repo is all set up and I will manage it starting now.

I will take care of tickets' assignment, payments and more, automatically.

If you don't want me to handle a certain Issue or PR, add the ``no-task`` label when creating it. You can also say ``deregister`` to me (if it's already in scope) and I will forget about it.

[2021-03-30 17:23] #59 closed

[2021-03-30 17:24] amihaiemil opened #60 "Test Issue"
Some test

[2021-03-30 17:24] zoeself commented on #60
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-03-30 17:31] zoeself commented on #60
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-03-30 17:46] #60 closed

[2021-05-07 14:04] amihaiemil opened #61 "Release 0.0.3"
Changelog:

#62

[2021-05-07 14:04] amihaiemil opened #62 "Update core 81 and storage 70"
for the e-tag caching of json resources.

[2021-05-07 14:12] zoeself commented on #62
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-05-17 09:57] amihaiemil commented on #61
@rultor release it, tag is `0.0.3`

[2021-05-17 09:58] rultor commented on #61
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24481-842190725)

[2021-05-17 10:02] rultor commented on #61
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24481-842190725) (took me 3min)

[2021-05-17 10:04] #61 closed

[2021-05-21 12:26] amihaiemil opened #63 "DB Connection Closes Unexpectedly"
Sometimes the DB Connection is lost, let's fix it:

[code]

[2021-05-21 12:27] zoeself commented on #63
@amihaiemil thank you for reporting this. Unfortunately, @amihaiemil is not a contributor with the required role (DEV), that's why I unassigned them.

I will assign a contributor to take care of it soon.

[2021-05-21 12:30] amihaiemil commented on #63
The problem is that the puzzles are reviewed in an Async method and the RequestScoped DB connection closes before the jsonstorage is accessed (for e-tag caching).

[2021-05-21 12:32] amihaiemil commented on #63
@criske any idea how to fix this? :D

[2021-05-21 12:36] zoeself commented on #63
@amihaiemil I couldn't find any assignee for this task. This is either because there are no contributors with role ``DEV`` available or because the project does not have enough funds.

Please, make sure there is at least one available contributor with the required role and the project can afford to pay them.

[2021-05-21 12:46] criske commented on #63
@amihaiemil maybe extract the Database component in a prototype scope?

[2021-05-21 12:48] amihaiemil commented on #63
@criske I have no idea what ``prototype`` scope is hihi. I was thinking: make the SelfCoreComponent SessionScoped and pass it as argument to the Async method, which will call close() on it manually at the end

[2021-05-21 13:23] criske commented on #63
@amihaiemil It might work, but looks dirty :D

but I  think making SelfCoreComponent prototype will be suffice (this mean one connection per injection)
this means that it will be not shared by PuzzlesApi controller and PuzzlesComponent.

Since SelfCompoent is autclosable I think will be treated as DisposableBean by Spring and thus not need to manually call close.

i need to test though.. to be sur

[2021-05-21 13:28] amihaiemil commented on #63
@criske sounds like a better plan :D

[2021-05-21 13:36] zoeself commented on #63
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-05-31T13:36:40.770107``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-22 08:11] #63 closed

[2021-05-22 08:12] amihaiemil opened #65 "Drop Async Puzzle Review"
Due to #63

[2021-05-22 08:12] zoeself commented on #65
@amihaiemil thank you for reporting this. Unfortunately, @amihaiemil is not a contributor with the required role (DEV), that's why I unassigned them.

I will assign a contributor to take care of it soon.

[2021-05-22 08:12] amihaiemil opened #66 "Release 0.0.4"
Changelog:

#65

[2021-05-22 08:13] amihaiemil commented on #65
@criske Scoti Async in task-u asta pls? Doar atat, nu trebuie schimbari pt fancy tests sau stiu eu :D

[2021-05-22 08:16] zoeself commented on #65
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-06-01T08:16:42.402467``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-05-22 08:19] #65 closed

[2021-05-22 08:20] amihaiemil commented on #66
@rultor release it, tag is `0.0.4`

[2021-05-22 08:22] rultor commented on #66
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24527-846374055)

[2021-05-22 08:25] rultor commented on #66
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24527-846374055) (took me 3min)

[2021-05-22 08:26] #66 closed

[2021-05-22 08:36] zoeself commented on #63
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-05-22 08:36] zoeself commented on #65
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-08-03 07:40] amihaiemil opened #68 "Release 0.0.5"
Update to self-core 89.

[2021-08-03 07:59] amihaiemil commented on #68
@rultor release it, tag is `0.0.5`

[2021-08-03 08:01] rultor commented on #68
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24872-891626092)

[2021-08-03 08:03] rultor commented on #68
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/24872-891626092) (took me 3min)

[2021-08-03 08:05] #68 closed

[2021-09-02 21:52] amihaiemil opened #69 "Getting Commits Is Unauthenticated"
The Repo used for getting the commits is unauthenticated so this call fails with 404 for private repos. let's fix it.

[2021-09-02 21:52] zoeself commented on #69
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2021-09-02 22:00] zoeself commented on #69
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-09-12T22:00:36.389057``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-09-05 07:33] criske commented on #69
Isn't already authenticated with pm's token in core's  `[Gh/Gl]WebhookEvent`?
https://github.com/self-xdsd/self-core/blob/ac4f1e28d64d6640aa046919a18ebc526eae60bb/self-core-impl/src/main/java/com/selfxdsd/core/projects/GithubWebhookEvent.java#L121-L137
[code]
Where pm provider is from `StoredProjectManager`
https://github.com/self-xdsd/self-core/blob/ac4f1e28d64d6640aa046919a18ebc526eae60bb/self-c

[2021-09-05 08:20] amihaiemil commented on #69
@criske that's the commit which triggered the Push and yes, it's authenticated. But the problem is in JsonPuzzles, when getting the latest commit from the repo: https://github.com/self-xdsd/self-todos/blob/master/src/main/java/com/selfxdsd/todos/JsonPuzzles.java#L85

That Repo (``this.project.repo()``) is not authenticated : D

[2021-09-05 08:21] amihaiemil commented on #69
@criske A bit of context: we first use the Event.commit() to get the Commit which triggered the push (to comment on it about open/closed tickets) and we also need the latest commit from the Repo (which might be a different one), in order to referentiate the TODO in the Issue Description.

[2021-09-06 06:09] #69 closed

[2021-09-06 06:15] amihaiemil opened #71 "Release 0.0.6"
Fix for #69

[2021-09-06 06:16] amihaiemil commented on #71
@rultor release it, tag is `0.0.6`

[2021-09-06 06:17] rultor commented on #71
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25031-913373830)

[2021-09-06 06:20] rultor commented on #71
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25031-913373830) (took me 3min)

[2021-09-06 06:21] #71 closed

[2021-09-06 06:30] zoeself commented on #69
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-10-03 09:42] amihaiemil opened #72 "Release 0.0.7"
* update to [self-core 94](https://github.com/self-xdsd/self-core/issues/1231)

[2021-10-03 09:44] amihaiemil commented on #72
@rultor release it, tag is `0.0.7`

[2021-10-03 09:47] rultor commented on #72
@amihaiemil OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25131-932899202)

[2021-10-03 09:51] rultor commented on #72
@amihaiemil Done! FYI, the full log is [here](https://www.rultor.com/t/25131-932899202) (took me 4min)

[2021-10-03 13:11] #72 closed

[2021-10-23 07:59] amihaiemil opened #73 "Core 95; Storage 74"
Update them

[2021-10-23 08:08] amihaiemil opened #74 "Release 0.0.8"
#73

[2021-10-23 08:10] #73 closed, assigned to nobody

[2021-10-23 12:25] #74 closed, assigned to nobody

[2021-11-05 11:10] amihaiemil opened #75 "Remove puzzle Label When Closing Ticket"
When closing a ticket, we should remove the ``puzzle`` label.

[2021-11-05 11:10] zoeself commented on #75
@amihaiemil thank you for reporting this. Unfortunately, @amihaiemil is not a contributor with the required role (DEV), that's why I unassigned them.

I will assign a contributor to take care of it soon.

[2021-11-05 11:11] zoeself commented on #75
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-15T11:11:38.698072``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-11-10 00:00] zoeself commented on #75
@criske Don't forget to close this ticket before the deadline (2021-11-15T11:11:39). You are past the first half of the allowed period.

[2021-11-14 05:51] zoeself opened #77 "PuzzlesComponentTestCase.java: Write remaining tests for Puz..."
The puzzle ``-145088541`` originating from #75 has to be resolved:

https://github.com/self-xdsd/self-todos/blob/c45f62c5b246250e0f7d5a6fdc420e1219e789ca/src/test/java/com/selfxdsd/todos/PuzzlesComponentTestCase.java#L47-L47

"Write remaining tests for PuzzleComponent#review(...).".

The puzzle was created by cristianpela at ``2021-11-09 10:15:41 +0200``.
Estimation is ``60 minutes``.
If you have

[2021-11-14 05:54] #75 closed

[2021-11-14 06:00] zoeself commented on #75
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2021-11-14 06:01] zoeself commented on #77
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2021-11-24T06:01:16.413635``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2021-11-14 06:39] amihaiemil opened #78 "Release 0.0.9"
Latest core and storage for globalhttpclient as well as bugfix in self-todos: remove the ``puzzle`` label when closing the ticket.

Also, remove the ``self-todos-temp-*`` dir after finishing processing.

[2021-11-19 00:00] zoeself commented on #77
@criske Don't forget to close this ticket before the deadline (2021-11-24T06:01:16). You are past the first half of the allowed period.

[2021-11-21 14:31] #77 closed

[2021-11-21 14:31] zoeself commented on #77
Puzzle disappeared from the code, that's why I closed this ticket.

[2021-11-21 15:00] zoeself commented on #77
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).

[2022-03-21 11:23] amihaiemil opened #80 "test"

[2022-03-21 11:23] zoeself commented on #80
@amihaiemil thank you for reporting this. I'll assign someone to take care of it soon.

[2022-03-21 11:31] zoeself commented on #80
@criske this is your task now, please go ahead. Deadline (when this ticket should be closed) is ``2022-03-31T11:31:21.783610``.

Estimation here is ``60 minutes``, that's how much you will be paid.

Remember, you don't have to solve everything in this ticket - you can solve it [partially](https://docs.self-xdsd.com/microtasking.html) and leave ``todo`` markers in the code, which will become future

[2022-03-21 11:32] #80 closed

[2022-03-21 12:00] zoeself commented on #80
@criske thank you for resolving this ticket. I've just added it to your active invoice. You can always check all your invoices and more on the [Contributor Dashboard](https://self-xdsd.com).